.typing-effect {
    height: 1.5em;
    /* Set a fixed height, adjust as needed */
    overflow: hidden;
    /* Hide any overflow content */
    display: flex;
    align-items: center;
    /* Center the text vertically */
}

.glow {
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 0 0 8px rgba(126, 184, 218, 0.45);
}

@keyframes glowAnimation {
    0% {
        font-size: larger;
        text-shadow: 0 0 3px rgb(177, 201, 239), 0 0 6px rgb(177, 201, 239);
    }

    100% {
        color: inherit;
        text-shadow: none;
    }
}